# Ignore Python caches and Dockerfile local artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
.env

# Git
.git
.gitignore

# OS files
.DS_Store

# Streamlit files/cache
.streamlit

# Docker
Dockerfile
**/Dockerfile
